<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<table>
    <tr>  <!-- tr - строка в таблице -->
        <th>Name</th>  <!-- шапка таблицы-->
        <th>age</th>
    </tr>
    <tr th:each="user : ${users}">

        <td th:text="${user.name}"></td> <!--Ячейка в таблице -->
        <td th:text="${user.age}"></td>
        <td>
            <a th:href="'/edit?userId='+${user.id}">Edit</a>
            <a th:href="'/delete?userId='+${user.id}">Delete</a>
        </td>
    </tr>

</table>
<br>
<tr>
    <a href="/add">Create new user</a>
</tr>
</body>
</html>